<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @song.title %>
</p>

<p>
  <%= render @song.artists %>
</p>

<p>
  <b>Length:</b>
  <%= @song.length %>
</p>


<h2>Add an Artist (some songs have multiple artists!):</h2>
<%= form_for([@song, @song.artists.build]) do |f| %>
  <div class="field">
    <%= f.label "Artist's Name" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 
<br />


<%= link_to 'Edit This Song', edit_song_path(@song) %> |
<%= link_to 'Back to All Songs', songs_path %>
  